.image-carousel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  pointer-events: none;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 500px;
  height: 40vh;
  max-height: 400px;
  min-width: 300px;
  min-height: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  filter: grayscale(15%);
  will-change: opacity;
  pointer-events: none;
}

.carousel-slide.active {
  opacity: 0.4;
  z-index: 1;
}

